.all_option{
    margin: 0 4%;

}

.top{
    background-color: #294869;
    border-radius: 13px;
    
}

#genre {
    width: 200px; 
    margin: 20px;      
    padding: 10px;        
    font-size: 16px;
    border-radius: 13px;
    color: #294869;}

#genre_text{
    color: white;
    margin: 20px;
}

.ranking-table td{
    padding: 0 35px;
}

.SF td{
    padding: 0 35px;
}


.movieposter {
  width: 12vw;       
  height: 17.5vw;
  border-radius: 13px;
  display: block;
  
}


.movieposter:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;}
    

.movietitle{
    text-align: center;
    font-weight: bold;
   
}

.ranking-container {
  position: relative; 
  display: inline-block; 
}


.rank-number {
  position: absolute; 
  color: white;
  font-weight: bold;
  bottom: 25px; 
  left: 0px;
  text-shadow: 2px 2px 3px #2e7ccf;
  font-size: 4vw;    
 
}
   

td {
    padding: 0 72px; 
    
}

fieldset{
    margin-top: 30px;
    border: none;  
    
}

legend{
    padding-left: 40px;
    font-size: 20px;
}


.boxoffice{
    display: flex;
    gap: 40px;
    
}
.ranking-section {
    width: 500px;
    margin: 50px; 
    flex-grow: 1; 
    
}

.ranking-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #333; 
    padding-bottom: 10px;
}


.box-office-list {
    
    padding-left: 30px; 
    margin: 0;
   
    
}


.box-office-list li {
   
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 1px solid #eee;
    padding: 15px 0; }


.box-office-list li:last-child {
    border-bottom: none;
}


.title {
    font-size: 16px;
    font-weight: 500;
}


.audience {
    font-size: 14px;
    color: #666;
    margin-left: 15px; 
}

.sidebar{
    margin: 50px;
    width: 500px;      
    flex-shrink: 0;
    
}
.sidebar h2 {
    border-bottom: 2px solid #333; 
    padding-bottom: 10px;         
    margin-bottom: 15px;}    

.sidebar li {
    padding: 15px;}

.sidebar a{
    color:black;
    text-decoration: none;
    
}
.sidebar a:hover{
    color: rgb(158, 164, 164);

}


.quote-section {
  padding: 40px 20px;
  background-color: #F0F8FF; 
  text-align: center;      
  font-family: 'Georgia', serif; 
  border-radius: 15px;
  margin-bottom: 10%;
}

.quote-section h2 {
  margin-bottom: 5px;
  font-size: 22px;
}


.quote-section figure, 
.quote-section blockquote {
  margin: 0;
  padding: 0;
}


.quote-section blockquote {
  font-size: 28px;
  font-style: italic;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.5; 
}


.quote-section blockquote::before {
  content: '“'; 
  font-size: 40px;
  color: #ccc;
  margin-right: 10px;
}

.quote-section blockquote::after {
  content: '”';
  font-size: 40px;
  color: #ccc;
  margin-left: 10px;
}

.quote-section blockquote p {
  display: inline; 
}


.quote-section figcaption {
  font-size: 16px;
  color: #777;
}

.quote-section cite {
  font-style: normal; 
  font-weight: bold;
}



.f1-section {
    width: 900px; 
    margin: 60px auto; 
    padding: 30px;
    background-color: #f8f8f8;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.f1-section h2 {
    font-size: 30px;
    color: #0D1B2A; 
    margin-bottom: 30px;
    text-align: center;
}

.f1-content {
    display: flex; 
    gap: 40px;     
    align-items: flex-start; 
    text-align: left;    
}

.f1-poster-container {
    flex-shrink: 0; 
    width: 300px; 
}

.f1-movie-poster {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    
}

.f1-movie-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.f1-intro-text p {
    margin-top: 75px;
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 60px;
    
}

.more-info-button {
    background-color: #0D1B2A; 
    color: white;
    padding: 18px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    
    
}

.more-info-button:hover {
    background-color: #152b43;
}



.membership-ad {
  width: 100%; 
  padding: 50px 0; 
  margin: 60px 0; 
  
 
  background-color: #294869;
  color: white; 
  
  text-align: center; 
  border-radius: 15px; 
}

.membership-ad h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.membership-ad p {
  font-size: 18px;
  color: #E0E1DD; 
  margin-bottom: 30px;
}


.ad-button {
  background-color: #207ee3; 
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none; 
  font-weight: bold;
  font-size: 18px;
  
  transition: transform 0.3s ease, background-color 0.3s ease; 
}


.ad-button:hover {
  background-color: #152b43; 
  transform: translateY(-3px); 
}

.event{
    
    font-weight: bold;
}
.magazine{
    width: 500px;
     height: 283px;
     border-radius: 13px;
     
}
.sisa_td{
    vertical-align: top;
}
.sisa{
    width: 500px;
    height: 283px;
    border-radius: 13px;
}
.magazine:hover, .sisa:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease;
}



.address span {
    font-style: normal; 
    display: inline; 
    margin-bottom: 5px
}



.ranking-table {
    margin-top: 20px;
}


.ranking-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 3%;
    gap: 7vw;  


}

.ranking-card {
    position: relative;
    text-align: flex-start;
}


.magazine-event {
    width: 100%;
    margin: 0 auto;
}


.magazine-card-row {
    display: flex;
    gap: 210px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 10%;
}


.magazine-card {
    width: 100%;
    max-width: 500px;
    text-align: center;
}



.magazine-event-header {
    display: flex;
    justify-content: space-between;
    padding: 0%;
}

.magazine-event-header h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.movies_title{
    margin-top: 4%;
    margin-left: 2%;
}


#resetBtn{
    margin-top: 3%;
    margin-left: 1%;
    margin-bottom: 4%;
    background: #aec9ec;
    border: 2px #207ee3;
    border-radius: 900px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 1.0% 2.5%;        
    font-size: 16px; 
}

#resetBtn:hover {
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
  background: linear-gradient(135deg, #9fbddc);

}


.hero-banner {
  height: 550px;
  margin: 30px 4%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}


.hero-track-wrapper {
  width: 100%;
  height: 100%;
}


.hero-track {
  display: flex;
  width: 300%;             
  height: 100%;
  transition: transform 0.6s ease;
}


.hero-slide {
  width: 100%;
  height: 100%;
  position: relative;
  flex-shrink: 0;
  
}


.hero-slide img {
  width: 33%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transform: scale(1.05);
  
}

.hero-text {
  position: absolute;
  bottom: 10%;
  left: 2%;

  width: 250px;
  height: 180px;

  background: hwb(0 99% 1% / 0.466);
  padding: 14px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-text h1 {
  line-height: 1.2;
  color: rgb(0, 0, 0);
  margin-bottom: 13px;
}


.hero-text h3 {
  font-size: 20px;
  margin-top: 0;  
  margin-bottom: 10px;       
  opacity: 0.9;
  line-height: 1.4;
  color: rgb(56, 91, 230);
}


.hero-btn {
  margin-top: 6px;  
  width: 150px;
  height: 34px;
  border-radius: 15px;
  border: none;
  background: #308becdf;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.hero-btn:hover {
  background: #234a73e3;
}


.hero-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 28px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.hero-nav.prev { left: 10px; }
.hero-nav.next { right: 10px; }

.hero-nav:hover {
  background: #308becdf;
}

#interestSection{
    margin-bottom: 10%;
}
#interestSection, #personalSection{
  background: #f0f8ffbc;      
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);

}

#magazineeventtext{
  margin-left: 2%

}

.search_bar.main_search {
    position: relative;      
    display: flex;
    align-items: center;
    gap: 6px;
}

.search-suggest {
    position: absolute;
    top: calc(100% + 4px);  
    left: 0;
    width: 100%;            
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9999;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;  }

.search-suggest div {
    padding: 10px 12px;
    cursor: pointer;
}

.search-suggest div:hover {
    background: #f3f3f3;
}
